A- Perform exploratory data analysis on the data set (like Handling null values, 
removing  the  features  not  correlated  to  the  target  class,  encoding  the 
categorical features, ...) 
[link text](https://www.kaggle.com/uciml/adult-census-income)

In [1]:

import pandas as pd
import numpy as np

In [3]:
iLPDataset = pd.read_csv('indian_liver_patient.csv')

In [4]:
# Display the top three
iLPDataset.head(3)

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1

In [5]:
iLPDataset.shape

(583, 11)

## To Handle Null Values

In [6]:
 # Displaying the datatype about the features.
iLPDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
Age                           583 non-null int64
Gender                        583 non-null object
Total_Bilirubin               583 non-null float64
Direct_Bilirubin              583 non-null float64
Alkaline_Phosphotase          583 non-null int64
Alamine_Aminotransferase      583 non-null int64
Aspartate_Aminotransferase    583 non-null int64
Total_Protiens                583 non-null float64
Albumin                       583 non-null float64
Albumin_and_Globulin_Ratio    579 non-null float64
Dataset                       583 non-null int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [7]:
#First we get all the numeric features that we need to train our model
# iLPDatasetNumeric = iLPDataset.select_dtypes(include=[np.number])
# iLPDatasetNumeric.info()

In [8]:
# To Show number of null values in each column in indian_liver_patient dataset 
iLPDatasetNulls = pd.DataFrame(iLPDataset.isnull().sum().sort_values(ascending=False))
iLPDatasetNulls.columns = ['NO# of null values']
iLPDatasetNulls.index.name = 'Feature'
print(iLPDatasetNulls)

                            NO# of null values
Feature
Albumin_and_Globulin_Ratio                   4
Dataset                                      0
Albumin                                      0
Total_Protiens                               0
Aspartate_Aminotransferase                   0
Alamine_Aminotransferase                     0
Alkaline_Phosphotase                         0
Direct_Bilirubin                             0
Total_Bilirubin                              0
Gender                                       0
Age                                          0

In [9]:
# Remoing null values in Albumin_and_Globulin_Ratio
iLPDataset.Albumin_and_Globulin_Ratio.fillna(iLPDataset.Albumin_and_Globulin_Ratio.mean(),inplace=True)

In [17]:
# To Show the number of null values again to see if they are gone 
iLPDatasetNulls = pd.DataFrame(iLPDataset.isnull().sum().sort_values(ascending=False)[:25])
iLPDatasetNulls.columns = ['Null Values Count']
iLPDatasetNulls.index.name = 'Feature'
print(iLPDatasetNulls)

                            Null Values Count
Feature
Dataset                                     0
Albumin_and_Globulin_Ratio                  0
Albumin                                     0
Total_Protiens                              0
Aspartate_Aminotransferase                  0
Alamine_Aminotransferase                    0
Alkaline_Phosphotase                        0
Direct_Bilirubin                            0
Total_Bilirubin                             0
Gender                                      0
Age                                         0

In [18]:
# Get the x_train ready for the use without Gender because we do not need it.
iLP_train = iLPDataset.drop("Gender", axis=1)

In [19]:
# Performing the scaling to get all the values at the same level
from sklearn import preprocessing
iLPscaler = preprocessing.StandardScaler()
iLPscaler.fit(iLP_train)
iLPX_scaled_array = iLPscaler.transform(iLP_train)
iLPX_scaled_train = pd.DataFrame(iLPX_scaled_array, columns = iLP_train.columns)
iLPX_scaled_train.head(5)

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,1.252098,-0.418878,-0.493964,-0.426715,-0.354665,-0.318393,0.292120,0.198969,-0.147898,-0.633595
1,1.066637,1.225171,1.430423,1.682629,-0.091599,-0.034333,0.937566,0.073157,-0.650697,-0.633595
2,1.066637,0.644919,0.931508,0.821588,-0.113522,-0.145186,0.476533,0.198969,-0.179323,-0.633595
3,0.819356,-0.370523,-0.387054,-0.447314,-0.365626,-0.311465,0.292120,0.324781,0.166351,-0.633595
4,1.684839,0.096902,0.183135,-0.393756,-0.294379,-0.176363,0.753153,-0.933340,-1.719144,-0.633595

In [21]:
# to get y_train ready for the training
iLP_y = iLPX_scaled_train["Dataset"].values
iLP_y = iLP_y.astype('int')

In [23]:
from sklearn.model_selection import train_test_split
# split the dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(iLPX_scaled_train, iLP_y, test_size=0.20, random_state=0, stratify=iLP_y)

# Naive Bayes

In [24]:
from sklearn.naive_bayes import GaussianNB
# Creating Naive Bayes object for the classification
NaBa = GaussianNB()

In [25]:
# For starting the train
NaBaResult = NaBa.fit(X_train, y_train)

In [26]:
iLPpred = NaBa.predict(X_test) 
round(NaBaResult.score(X_test, y_test) * 100, 2)

100.0

# Support Vector Machines(SVM)

In [27]:
from sklearn.svm import SVC

# Creating Support Vector Machines object for the classification
iLPsvc = SVC(kernel='linear')
# Here where the training starts
SVCResult = iLPsvc.fit(X_train, y_train)

SVMiLPpred = SVCResult.predict(X_test)
round(SVCResult.score(X_test, y_test) * 100, 2)

100.0

# K-nearest neighbors

In [28]:
from sklearn.neighbors import KNeighborsClassifier
# Creating the K nearest neighbors object for the classification
iLPKNN = KNeighborsClassifier(n_neighbors=3)
# To train the model
KNNResult = iLPKNN.fit(X_train,y_train)

KNNiLPpred = iLPKNN.predict(X_test) 
round(KNNResult.score(X_test, y_test) * 100, 2)

100.0