<a href="https://colab.research.google.com/github/mohzary/python-deep-learning-f19/blob/master/lab%201/q5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A- Perform exploratory data analysis on the data set (like Handling null values, 
removing  the  features  not  correlated  to  the  target  class,  encoding  the 
categorical features, ...) 
[link text](https://www.kaggle.com/uciml/adult-census-income)

In [0]:
import io
import pandas as pd
from google.colab import files
import numpy as np

In [0]:
# To upload file and open it using pandas 
playStoreFile = files.upload()

Saving indian_liver_patient.csv to indian_liver_patient.csv

In [0]:
iLPDataset = pd.read_csv(io.StringIO(playStoreFile['indian_liver_patient.csv'].decode('utf-8')))

In [0]:
# Display the top three
iLPDataset.head(3)

   Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0   65  Female              0.7  ...      3.3                        0.90        1
1   62    Male             10.9  ...      3.2                        0.74        1
2   62    Male              7.3  ...      3.3                        0.89        1

[3 rows x 11 columns]

In [0]:
iLPDataset.shape

(583, 11)

## To Handle Null Values

In [0]:
 # Displaying the datatype about the features.
iLPDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
Age                           583 non-null int64
Gender                        583 non-null object
Total_Bilirubin               583 non-null float64
Direct_Bilirubin              583 non-null float64
Alkaline_Phosphotase          583 non-null int64
Alamine_Aminotransferase      583 non-null int64
Aspartate_Aminotransferase    583 non-null int64
Total_Protiens                583 non-null float64
Albumin                       583 non-null float64
Albumin_and_Globulin_Ratio    579 non-null float64
Dataset                       583 non-null int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [0]:
#First we get all the numeric features that we need to train our model
# iLPDatasetNumeric = iLPDataset.select_dtypes(include=[np.number])
# iLPDatasetNumeric.info()

In [0]:
# To Show number of null values in each column in indian_liver_patient dataset 
iLPDatasetNulls = pd.DataFrame(iLPDataset.isnull().sum().sort_values(ascending=False))
iLPDatasetNulls.columns = ['NO# of null values']
iLPDatasetNulls.index.name = 'Feature'
print(iLPDatasetNulls)

                            NO# of null values
Feature
Albumin_and_Globulin_Ratio                   4
Dataset                                      0
Albumin                                      0
Total_Protiens                               0
Aspartate_Aminotransferase                   0
Alamine_Aminotransferase                     0
Alkaline_Phosphotase                         0
Direct_Bilirubin                             0
Total_Bilirubin                              0
Gender                                       0
Age                                          0

In [0]:
# Remoing null values in Albumin_and_Globulin_Ratio
iLPDataset.Albumin_and_Globulin_Ratio.fillna(iLPDataset.Albumin_and_Globulin_Ratio.mean(),inplace=True)

In [0]:
# To Show the number of null values again to see if they are gone 
iLPDatasetNulls = pd.DataFrame(iLPDataset.isnull().sum().sort_values(ascending=False)[:25])
iLPDatasetNulls.columns = ['Null Values Count']
iLPDatasetNulls.index.name = 'Feature'
print(iLPDatasetNulls)

                            Null Values Count
Feature
Dataset                                     0
Albumin_and_Globulin_Ratio                  0
Albumin                                     0
Total_Protiens                              0
Aspartate_Aminotransferase                  0
Alamine_Aminotransferase                    0
Alkaline_Phosphotase                        0
Direct_Bilirubin                            0
Total_Bilirubin                             0
Gender                                      0
Age                                         0

In [0]:
# Get the x_train ready for the use without Gender because we do not need it.
iLP_train = iLPDataset.drop("Gender", axis=1)

In [0]:
# Performing the scaling to get all the values at the same level
from sklearn import preprocessing
iLPscaler = preprocessing.StandardScaler()
iLPscaler.fit(iLP_train)
iLPX_scaled_array = iLPscaler.transform(iLP_train)
iLPX_scaled_train = pd.DataFrame(iLPX_scaled_array, columns = iLP_train.columns)
iLPX_scaled_train.head(5)

        Age  Total_Bilirubin  ...  Albumin_and_Globulin_Ratio   Dataset
0  1.252098        -0.418878  ...                   -0.147898 -0.633595
1  1.066637         1.225171  ...                   -0.650697 -0.633595
2  1.066637         0.644919  ...                   -0.179323 -0.633595
3  0.819356        -0.370523  ...                    0.166351 -0.633595
4  1.684839         0.096902  ...                   -1.719144 -0.633595

[5 rows x 10 columns]

In [0]:
# to get y_train ready for the training
iLP_y = iLPX_scaled["Dataset"].values
iLP_y = iLP_y.astype('int')

In [0]:
from sklearn.model_selection import train_test_split
# split the dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(iLPX_scaled_train, iLP_y, test_size=0.20, random_state=0, stratify=iLP)

# Naive Bayes

In [0]:
from sklearn.naive_bayes import GaussianNB
# Creating Naive Bayes object for the classification
NaBa = GaussianNB()

In [0]:
# For starting the train
NaBaResult = NaBa.fit(X_train, y_train)

In [0]:
iLPpred = NaBa.predict(X_test) 
round(NaBaResult.score(X_test, y_test) * 100, 2)

100.0

# Support Vector Machines(SVM)

In [0]:
from sklearn.svm import SVC

# Creating Support Vector Machines object for the classification
iLPsvc = SVC(kernel='linear')
# Here where the training starts
SVCResult = iLPsvc.fit(X_train, y_train)

SVMiLPpred = SVCResult.predict(X_test)
round(SVCResult.score(X_test, y_test) * 100, 2)

100.0

# K-nearest neighbors

In [0]:
from sklearn.neighbors import KNeighborsClassifier
# Creating the K nearest neighbors object for the classification
iLPKNN = KNeighborsClassifier(n_neighbors=3)
# To train the model
KNNResult = iLPKNN.fit(X_train,y_train)

KNNiLPpred = iLPKNN.predict(X_test) 
round(KNNResult.score(X_test, y_test) * 100, 2)

100.0